body {
  width: 300px;
  margin: 150px auto 0;
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 6px;
}

h1 {
  margin: 0;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

input {
  padding: 6px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.new {
  display: block;
  margin: 15px 0;
  text-decoration: none;
  color: #2222ff;
}

.new:hover {
  opacity: 0.6;
}

.btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  color: black;
}
